body {
    margin: 0px;
    padding: 0PX;
}

.portfolio-container {
    min-height: 1080px;
    width: 100%;
    display: flex;
}

.navlist {
    display: flex;
    gap: 1rem;
    height: 80px;
    justify-content:center;
    align-items: center;
    position: fixed;
    width: 100%; 
    background-color: none; 
}

.navlist li {
    list-style: none;
}

.navlist li a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

.left-container, .right-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.left-container {
    background: #434242;
    width: 70%;
    float: left;
}

.right-container {
    background:linear-gradient(-45deg,#3877FF,#434242 70%);
    width: 30%;
}

.icons, .fa-brands {
    color:white; 
    font-size: 1.6rem;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 2rem;
}

.content {
    margin-left: 3rem;
}

.content h1 {
    font-size: 4rem;
    color: rgb(61, 159, 192);
}

.content .intro {
    font-size: 1.5rem;
    color: white;
}

.content .intro span {
    color: rgb(61, 159, 192);
}

.content .detail {
    font-size: 1.1rem;
    color: white;
    max-width: 38rem;
    margin: 1.1rem 0 3rem 0;
    line-height: 1.7rem;
}

.btn-container button {
    border: .1rem solid rgb(61, 185, 234);
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
}

button:nth-child(1) {
    background:  rgb(61, 159, 192);
}

button:nth-child(2) {
    color: aqua;
    margin-left: 20px;
}

.btn-container button:nth-child(1):hover {
    background: transparent;
    color: rgb(61, 159, 192);
}

.btn-container button:nth-child(2):hover {
    background:transparent;
    color:  rgb(61, 159, 192);
}

.design .circle {
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
}

.circle:nth-child(1) {
    background: linear-gradient(90deg, transparent 50%, #434242 50%); /* for circle gradient */
    width: 28rem;
}

.circle:nth-child(2) {
    width: 24rem;
    background-image: url("PROF/Picsart_24-04-10_23-47-07-724.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border: 10px solid rgb(176, 196, 196);
    box-shadow:
     0 0 30px #fff,
    inset 0 0 5px #fff,
    0 0 30px rgb(61, 159, 192),
    inset 0 0 5px rgb(61, 159, 192),
    0 0 30px rgb(61, 159, 192),
    inset 0 0 5px rgb(61, 159, 192);
}
